body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #ffffff;
}

.section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: block;
}

.section-shaped {
  margin: 180px 0;
  position: relative;
}

.overflow-hidden {
  overflow: hidden !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.section-shaped .shape-skew {
  transform: skewY(-8deg);
  transform-origin: 0;
}

.section-shaped .shape {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.section-shaped .shape-style-1 :nth-child(1) {
  left: -4%;
  bottom: auto;
  background: rgba(255, 255, 255, 0.1);
}

.section-shaped .shape-style-1 :nth-child(2) {
  right: 4%;
  top: 10%;
  background: rgba(255, 255, 255, 0.1);
}

.section-shaped .shape-style-1 :nth-child(3) {
  top: 280px;
  right: 5.66666%;
  background: rgba(255, 255, 255, 0.3);
}

.section-shaped .shape-style-1 :nth-child(4) {
  top: 320px;
  right: 7%;
  background: rgba(255, 255, 255, 0.15);
}

.section-shaped .shape-style-1 :nth-child(5) {
  top: 38%;
  left: 1%;
  right: auto;
  background: rgba(255, 255, 255, 0.05);
}

.section-shaped .shape-style-1 :nth-child(6) {
  width: 200px;
  height: 200px;
  top: 44%;
  left: 10%;
  right: auto;
  background: rgba(255, 255, 255, 0.15);
}

.section-shaped .shape-style-1 span {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.section-shaped .shape-skew span {
  transform: skew(8deg);
}

.section-shaped .shape span {
  position: absolute;
}

.bg-gradient-warning {
  background: linear-gradient(87deg, #fb6340 0, #fbb140 100%) !important;
}

.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

img {
  width: 70%;
  margin-bottom: 50px;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.icon-shape {
  padding: 12px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.bg-gradient-white {
  background: linear-gradient(87deg, #ffffff 0, white 100%) !important;
}

.bg-gradient-white {
  background: linear-gradient(87deg, #ffffff 0, white 100%) !important;
}

.bg-gradient-white {
  background: linear-gradient(87deg, #ffffff 0, white 100%) !important;
}

.text-icon {
  color: #5e72e4 !important;
}

.shadow {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
}

.icon-lg {
  width: 4rem;
  height: 4rem;
}

.display-3 {
  font-size: 2.1875rem !important;
  font-weight: 600 !important;
  line-height: 1.3 !important;
}

.intro {
  font-weight: 900;
  text-align: center;
}

.card-box-handle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.generator {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator-result {
  position: relative;
  width: 100%;
}

.generator-result h4 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 2px;
  color: #000000;
  text-align: center;
  padding: 0;
}

.generator-result input[type="text"] {
  border: 2px solid #4e5dd5;
  width: 100%;
  border-radius: 5px;
  margin: 8px 0;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  padding: 30px 5px;
  text-align: center;
}

.generator-result input[type="text"]:focus {
  border-color: #1e90ff;
  box-shadow: 0 0 8px 0 #1e90ff;
}

.input-group {
  position: relative;
}

.buttons .pass-btn {
  color: #ffffff;
  background: #4e5dd5;
  margin: 30px 50px;
  outline: none;
  border-radius: 5px;
}

.pass-btn:hover {
  background: #4ce59c;
  color: #ffffff !important;
}

.options {
  width: 100%;
  padding: 10px;
  color: #000000;
}

.options h4 {
  text-align: center;
  margin: 40px 0;
  color: #000000;
  letter-spacing: 3px;
}

.options h6 {
  text-align: center;
  margin: 15px 0;
  color: #000000;
  font-weight: 900;
}

.options span {
  text-align: center;
  font-weight: 400;
}

.options .o-m-15 {
  margin: 15px 0;
}

.options .length {
  display: flex;
  justify-content: space-between;
}

.options input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
}

.options input[type="range"]:focus {
  outline: none;
}

.options input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #4e5dd5;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.options-range {
  width: 60%;
  height: 10px;
  background: #d6d6d6;
  -webkit-appearance: none;
  outline: none;
  border-radius: 20px;
  text-align: left;
}

.options-number {
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: none;
  background: #d6d6d6;
  padding-left: 20px;
}

.options .switch {
  display: flex;
  justify-content: space-between;
}

.options .switch .switch-items {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left: 40px;
}

.options .switch .switch-items input {
  opacity: 0;
  width: 0;
  height: 0;
}

.options .switch .switch-items input:checked + .slider {
  background-color: #4ce59c;
}

.options .switch .switch-items input:focus + .slider {
  box-shadow: 0 0 1px #4ce59c;
}

.options .switch .switch-items input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.options .switch .switch-items .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d6d6d6;
  transition: 0.4s;
}

.options .switch .switch-items .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  right: 27px;
  bottom: 3px;
  background-color: #4e5dd5;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.options .switch .switch-items .round {
  border-radius: 20px;
}

.options .switch .switch-items .round:before {
  border-radius: 50%;
}
